{{ template "_internal/google_analytics.html" . }}
{{ partial "header.html" . }}
<article class="post post-view">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <p class="post-meta">
      {{- if or .Params.author .Site.Params.author -}}
      {{ .Params.author | default .Site.Params.author }} · {{ end }}
      {{ if .Params.date }}
      {{- .Date.Format "2.1.2006 " -}} ·
      <a
      target="_blank"
      href="https://twitter.com/intent/tweet?text={{ .Title }}%20{{ .Permalink }}%20by%20@imnatalienguyen"
      > tweet </a> 🐦
      {{ end }}
    </p>
  </header>
  <div class="post-content">{{ .Content }}</div>
  <footer class="post-footer">
    {{ if .Params.tags }}
    <ul class="post-tags">
      {{ range .Params.tags }}
      <li><a href="{{$.Site.BaseURL}}tags/{{ . | urlize }}/">{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </footer>
</article>
{{ partial "footer.html" . }}
