[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper.git
[submodule "themes/monopriv"]
	path = themes/monopriv
	url = https://gitlab.com/kskarthik/monopriv.git
